:root {
    --bg: #f9f9f9;
    --light-grey: #f0f0f0;
    --grey: #ddd;
}

.box {
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072);

    min-height: 200px;
    width: 50vw;
    margin: 34px auto;
    background: white;
    border-radius: 10px;
}

.container {
    min-width: 500px;
}

.line-border {
    border: 2px solid var(--grey);
    border-radius: 5px;
}

.base {
    background-color: var(--bg);
    padding-left: 50px;
    padding: 40px;
    font-size: 18px;
    font-family: "Questrial", sans-serif;
    letter-spacing: 1.2px;
}

.title {
    padding-bottom: 24px;
    font-weight: bold;
}

input[type=file] {
    padding: 10px 20px;
    width: 100%;
    min-width: 250px;
    background-color: var(--ip-bg);
}
input[type=file]:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

select {
    overflow: hidden;
    padding: 20px;
    border: 5px solid var(--bg);
    width: 100%;
    min-width: 250px;
    text-align: center;
}

option {
    padding: 5px;
    width: 100%;
}
option:hover {
    background-color: black;
    color: white;
}

.convert-button {
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.convert-button:hover {
    background-color: white;
    border: 2px solid var(--grey);
    color: black;
}

.ratioLink {
    font-size: 16px;
    color: var(--txt-clr);
    padding: 5px 10px;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 5px;
}
.ratioLink:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px solid black;
}

.radio-buttons {
    padding: 30px 0px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 42px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    /*background-color: var(--grey);*/
    border: 2px solid var(--grey);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: var(--grey);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: black;
    border: 0px;
}

.radio-label {
    position: relative;
    top: 2px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

.title-container {
    display: block;
    position: relative;
    text-align: center;
}

hr.top-border {
    /*width: 100%;*/
    border-top: 2px solid var(--grey);
}

.circle {
    position: absolute;
    bottom: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}
.red-circle {
    left: 20px;
    background-color: #ff5f56;
}
.yellow-circle {
    left: 50px;
    background-color: #ffbd2e;
}
.green-circle {
    left: 80px;
    background-color: #27c93f;
}
.title-text {
    font-weight: bold;
    font-size: 22px;
}
.title-button {
    position: absolute;
    right: 20px;
}

.info-container {
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}