<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Compressor</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="base">
<div class="container p-5">
    <h3 class="title">File Compressor</h3>
    <form method="POST" enctype="multipart/form-data" action="/" class="form" style="padding: 20px 0px 40px 0px;">
        <div class="row">
            <div class="col">
                <input type="file" name="file" id="file" required/> <br/>

                <div class="radio-buttons">
                    <label class="radio-container"><span class="radio-label">Compress</span>
                        <input type="radio" checked="checked" name="action" value="compress">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container"><span class="radio-label">Decompress</span>
                        <input type="radio" name="action" value="decompress">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>
            <div class="col">
                <select name="algo" id="algo" size=4 required>
                    <option selected value="huffman"> Huffman </option>
                    <option value="shannon"> Shannon Fano </option>
                    <option value="lzw"> LZW </option>
                    <option value="lzss"> LZSS </option>
                </select>
            </div>
        </div>

        <button type="submit" class="convert-button">
            Convert <i class="fa fa-file-archive-o" style="font-size: 24px"></i>
        </button>
    </form>
</div>
</body>

</html>